.accordions {
    display: flex;
    flex-direction: row;
}

.accordion {
    padding: 34px 50px;
    border: var(--border);
}

.accordion_title {
    background: none;
}

.accordion_content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.3s;
}

.accordion_content_body {
    overflow: hidden;
    padding-top: 20px;
}

.accordion_details[open] + .accordion_content {
    grid-template-rows: 1fr;
}