.why_a_y_contacting {
    background-color: var(--grey15);
    border-radius: 12px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.check_boks {
    display: flex;
    flex-direction: column;
}

.ques_check {
    padding-bottom: 40px;
}