@font-face {
    font-family: "Barlow-Regular";
    src: local("Barlow-Regular"),
    local("Barlow-Regular"),
    url("/dist/assets/fonts/Barlow-Regular.ttf") format("ttf"),

}
@font-face {
    font-family: "Barlow-Medium";
    src: local("Barlow-Medium"),
    local("Barlow-Medium"),
    url("/dist/assets/fonts/Barlow-Medium.ttf") format("ttf"),

}
@font-face {
    font-family: "Barlow-SemiBoldItalic";
    src: local("Barlow-SemiBoldItalic"),
    local("Barlow-SemiBoldItalic"),
    url("/dist/assets/fonts/Barlow-SemiBoldItalic.ttf") format("ttf"),

}