<div class="accordion">
    <details class="accordion_details" name="faq">
        <summary class="accordion_summary">
            <span>@@number</span>
            <span
            class="accordion_title"
            role="term"
            aria-details="faq-3"
            >
                @@title
            </span>
        </summary>
    </details>
    
    <div
    class="accordion_content"
    id="faq-3"
    role="definition"
    >
        <div class="accordion_content_body">
            @@desc
        </div>
    </div>
</div>