<header class="header">
    <div class="container">
        <img src="./assets/images/SQup.webp" alt="SQup">
        
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Process</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Carrers</a></li>
            </ul>
        </nav>

        @@include('./_button.html', {
        "href":"#",
        "title": "Contact Us"
        })
    </div>
</header>