<nav class="container_heroblok">
    <div class="title_heroblok">
        
        <div class="digital_hb">
            <h1>
                A Digital Product Studio that will Work
            </h1>
        </div>

        <div class="text_heroblok">
            <div>For</div>
            <div>Startups</div>
            <div>Enterprise</div>
            <div>Media & Publishers</div>
            <div>and</div>
            <div>Social Good</div>
        </div>

        @@include('./_button.html', {
        "href":"#",
        "title": "Our Works"
        })

        @@include('./_button.html', {
        "href":"#",
        "title": "Contact Us"
        })

    </div>



</nav>