<div class="website">
    <div class="text_website">
        <h3 class="title_website">
            @@title
        </h3>
        <p class="p_website">
            @@desc
        </p>
    </div>
    <div class="account">
        <div class="info_account">
                <div class="foto @@image">
                </div>
            <div class="text_account">
                <h3>@@name</h3>
                <p>@@username</p>
            </div>
        </div>
        <button class="btn_website">
            <p>Open Website</p>
        </button>
    </div>
</div>