// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/card';
@use 'components/header';
@use 'components/heroblok';

body {
  background-color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}